<nav class="navbar" style="background-color: #0B3C70">
  <a class="navbar-brand">
    <img class="ms-4" src="/src/img/eparts.png" width="50" height="40"></img>
    <i class="ms-1 text-white">Desafio Estagiários </i>
  </a>
  </nav>
  <div class="border border-1 rounded-3 mt-6 mx-2 px-3 pt-3 pb-2 bg-white shadow">
    <div class="row">
      <div class="col-sm-10">
        <h2>Jogadores</h2>
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn py-2 px-3 text-white" style="background-color: #0B3C70" data-bs-toggle="modal" data-bs-target="#myModal" ng-click="addJogador()">Adicionar novo
        </button>
      </div>
    </div>
  </div>
  
  <div class="border border-1 rounded-3 mt-3 mx-2 bg-white shadow">
    <div class="row mx-3 mt-3">
      <div class="col-sm-9">
        <h4>Listagem</h4>
      </div>
      <div class="col-sm-3">
        <select class="form-select form-select-sm" ng-model="option" ng-click="orderBy(option)">
          <option value="">Ordenar por</option>
          <option>Jogador A-Z</option>
          <option>Mais Moedas</option>
          <option>Menos Moedas</option>
        </select>
    </div>
    </div>
    <hr>
  <div class="ps-2 pe-3 mtn-1">
    <table class="table design">
      <thead>
        <tr>
          <th scope="col" class="tableCenter">Nome</th>
          <th scope="col" class="tableCenter">Moedas</th>
          <th scope="col" class="tableCenter">Medalhas</th>
          <th scope="col" class="tableCenter">Troféus</th>
          <th scope="col" class="centerRight">Ações</th>
        </tr>
      </thead>
      <tbody ng-repeat="jogador in jogadores | orderBy:orderCriterion:orderDirection">
        <tr>
          <td data-toggle="tooltip" data-placement="top" title="{{jogador.name}}">{{jogador.name | ellipsis:20}}</td>
          <td class="tableCenter">{{jogador.coins}}</td>
          <td class="tableCenter">{{jogador.medals}}</td>
          <td class="tableCenter">{{jogador.trophies}}</td>
          <td class="tableRight">
            <i class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#myModal" ng-click="updateModal(jogador)"></i>
            <i class="bi bi-trash-fill" data-bs-toggle="modal" data-bs-target="#deleteModal" ng-click="deleteModal(jogador)"></i>
          </td>
        </tr>
      </tbody>
    </table>
 </div>
  </div>

  <div class="modal fade" id="myModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header modalAdd">
          <h5 class="modal-title text-white" id="titleJogadorModal">{{titleJogadorModal}}</h5>
          <button type="button" class="btn-close btn-close-white" ng-click="newJogador = false" data-bs-dismiss="modal"></button>
        </div>
  
        <div class="modal-body">
          <div class="mt-3 mb-4 p-1">
            <form name="formJogador">
              <div class="mb-3">
                <label for="nameJogador" class="form-label">Nome</label>
              <input type="text" class="form-control" ng-model="jogador.name" ng-required="true" id="nameJogador">
            
              </div>
  
              <div class="mb-3">
                <label for="coinsJogador" class="form-label">Moedas</label>
              <input type="number" class="form-control" ng-model="jogador.coins" ng-required="true" id="coinsJogador">
           
              </div>
            </form>

            <div class="d-grid gap-2">
              <button class="btn btn-success" ng-disabled="formJogador.$invalid" ng-click="JogadorSave(jogador)" id="btnSave" type="button">Salvar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="deleteModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalDelete">Excluir Jogador</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div>
            {{deleteName}} será excluído(a), deseja prosseguir?
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Cancelar</button>
          <button type="button" ng-click="excluiJogador()" class="btn btn-danger">Excluir</button>
        </div>
      </div>
    </div>
  </div>
  
