<nav class="navbar fixed-top navbar-light" style="background-color: #0B3C70">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img class="ms-4" src="\src\img\eparts.png" width="60" height="30"></img>
        <i class="ms-1 text-white fontNavBar">Desafio </i>
      </a>
    </div>
  </nav>
  <div class="border border-1 rounded-3 mt-6 mx-2 px-3 pt-3 pb-2 bg-white shadow">
    <div class="row">
      <div class="col-sm-10 fontAvayoBold">
        <h2>{{msg}}</h2>
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn text-white py-2 px-3" data-bs-toggle="modal" data-bs-target="#myModal" ng-click="modal()" type="button"><i class="glyphicon glyphicon-plus"></i>&nbsp;Adicionar Novo</button>
      </div>
    </div>
  </div>
  
  <div class="border border-1 rounded-3 mt-3 mx-2 bg-white shadow">
    <table class="row mx-3 mt-3">
      <thead class="col-sm-9 fontAvayoBold">
        <tr>
          <div class='col-sm-offset-0 col-md-4'>
            <h3> Listagem </h3>
          </div>
          <div class="col-md-3">
            <select class="form-select form-select-sm" ng-disabled="change" ng-model="option" ng-click="orderBy(option)">
              <option value="">Ordenar por</option>
              <option>A-Z</option>
              <option>Jogador Z-A</option>
              <option>Mais moedas</option>
              <option>Menos moedas</option>
            </select>
          </div>
        </tr>
      </thead>
      <div class='ps-2 pe-3 mtn-1'>
        <table class="table tableDesign">
          <thead>
            <tr>
              <th style="border: 0px;">Nome</th>
              <th style="border: 0px;">Moedas</th>
              <th style="border: 0px;">Medalhas</th>
              <th style="border: 0px;">Troféus</th>
              <th style="border: 0px;">Ações</th>
            </tr>
          </thead>
        </table>
      </div>
      </tr>
  
  
      <tbody ng-repeat="jogador in jogadores | orderBy:orderCriterion:orderDirection">
        <tr>
          <td data-toggle="tooltip" data-placement="top" title="{{jogador.name}}">{{jogador.name | ellipsis:20}}</td>
          <td class="tblCenterAlign">{{jogador.coins}}</td>
          <td class="tblCenterAlign">{{jogador.medals}}</td>
          <td class="tblCenterAlign">{{jogador.trophies}}</td>
          <td class="tblRightAlign">
            <i class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#myModal" ng-click="updateModal(jogador)"></i>
            <i class="bi bi-trash-fill" data-bs-toggle="modal" data-bs-target="#delete" ng-click="delete(jogador)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-white" id="modalTitle">{{modalTitle}}</h4>
          <button type="button" class="btn-close btn-close-white" ng-click="newJogador = false" data-bs-dismiss="modal"></button>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form class="mt-3 mb-4 p-1">
            <div class="mb-3">
              <label for="nameJogador" class="form-label">Nome</label>
              <input type="text" class="form-control" ng-model="jogador.name" ng-required="true" id="nameJogador">
            </div>
  

            <div class="mb-3">
              <label for="coinsJogador" class="form-label">Moedas</label>
              <input type="number" class="form-control" ng-model="jogador.coins" ng-required="true" id="coinsJogador">
            </div>
          </form>
          <div class="d-grid gap-2">
            <button class="btn btn-success" ng-disabled="formsUser.$invalid" ng-click="saveJogador(jogador)" id="btnSave" type="button">Salvar</button>
          </div>
        </div>
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-success" ng-disabled="formsUser.$invalid" ng-click="closeJogador(jogador)" id="btnSave" type="button">Fechar</button>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModalEdit" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
  
      <!-- Modal for Update-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="modalTitle">{{modalTitle}}</h4>
          <button type="button" class="btn-close btn-close-white" ng-click="newJogador = false" data-bs-dismiss="modal"></button>
        </div>
  
        <div class="modal-body">
          <div class="mt-3 mb-4 p-1">
            <form class="form-horizontal" role="form">
              <div class="mb-3">
                <label for="nameModal" class="form-label">Nome</label>
                <input type="text" class="form-control" ng-model="atualizaJogador.name" ng-required="true" id="nameModal">
              </div>
  
              <div class="mb-3">
                <label for="coinsModal" class="form-label">Moedas</label>
                <input type="number" class="form-control" ng-model="atualizaJogador.coins" ng-required="true" id="coinsModal">
              </div>
            </form>

            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-success" ng-disabled="formsUser.$invalid" ng-click="saveJogador(jogador)" id="btnSave" type="button" data-dismiss="modal">Salvar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
  </div>
  </div>
  
  </div>
  </div>

  <div class="modal fade" id="delete" role="dialog" tabindex="-1">
    <div class="modal-dialog">
  
      <!-- Modal for Delete-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title fontAvayoBold">Excluir jogador</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <strong style=font-weight:bolder> {{deleteName}} será excluido(a), deseja prosseguir?</strong>
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Cancelar</button>
          <button type="button" ng-click="excluiJogador()" class="btn btn-danger">Excluir</button>
        </div>
      </div>
    </div>
  </div>
  
  <div aria-live="polite" aria-atomic="true" class="position-relative">
    <div class="toast-container bottom-0 end-0 p-3" style="position: fixed;">
      <div class="toast" ng-style="toastBody" id="sideToast" role="alert" aria-live="assertive" aria-atomic="true">
        <div ng-class="toastHeader">
          <div class="fs-3 mtn-1">
            <i ng-class="toastIcon"></i>
          </div>
          <strong class="ms-2 mt-2 h4">{{toastTitle}}</strong>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body tblCenterAlign text-white">
          {{toastText}}
        </div>
      </div>
    </div>
  </div>